In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "C:/Users/IROANYA/Documents/DATA ANALYSIS FILES/finnstats/Airlinedata.csv"

In [46]:
dt = pd.read_csv(file)

In [73]:
df = dt.copy()

In [74]:
df.head()

,Unnamed: 0,Month,DayOfWeek,FlightDate,Reporting_Airline,Origin,Dest,CRSDepTime,CRSArrTime,DepTime,ArrTime,ArrDelay,ArrDelayMinutes,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepDelay,DepDelayMinutes,DivDistance,DivArrDelay
0,1,3,5,2003-03-28,UA,LAX,JFK,2210,615,2209,617,2,2,NaN,NaN,NaN,NaN,NaN,-1,0,NaN,NaN
1,2,11,4,2018-11-29,AS,LAX,JFK,1045,1912,1049,1851,-21,0,NaN,NaN,NaN,NaN,NaN,4,4,NaN,NaN
2,3,8,5,2015-08-28,UA,LAX,JFK,805,1634,757,1620,-14,0,NaN,NaN,NaN,NaN,NaN,-8,0,NaN,NaN
3,4,4,7,2003-04-20,DL,LAX,JFK,2205,619,2212,616,-3,0,NaN,NaN,NaN,NaN,NaN,7,7,NaN,NaN
4,5,11,3,2005-11-30,UA,LAX,JFK,840,1653,836,1640,-13,0,NaN,NaN,NaN,NaN,NaN,-4,0,NaN,NaN

In [75]:
df.columns

Index(['Unnamed: 0', 'Month', 'DayOfWeek', 'FlightDate', 'Reporting_Airline',
       'Origin', 'Dest', 'CRSDepTime', 'CRSArrTime', 'DepTime', 'ArrTime',
       'ArrDelay', 'ArrDelayMinutes', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'DepDelay',
       'DepDelayMinutes', 'DivDistance', 'DivArrDelay'],
      dtype='object')

In [76]:
df.shape

(2855, 22)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2855 non-null   int64
 1   Month              2855 non-null   int64
 2   DayOfWeek          2855 non-null   int64
 3   FlightDate         2855 non-null   object
 4   Reporting_Airline  2855 non-null   object
 5   Origin             2855 non-null   object
 6   Dest               2855 non-null   object
 7   CRSDepTime         2855 non-null   int64
 8   CRSArrTime         2855 non-null   int64
 9   DepTime            2855 non-null   int64
 10  ArrTime            2855 non-null   int64
 11  ArrDelay           2855 non-null   int64
 12  ArrDelayMinutes    2855 non-null   int64
 13  CarrierDelay       369 non-null    float64
 14  WeatherDelay       369 non-null    float64
 15  NASDelay           369 non-null    float64
 16  SecurityDelay      369 non-null    float64
 17  LateAircraftDelay  369 non-null    float64
 18  DepDelay           2855 non-null   int64
 19  DepDelayMinutes    2855 non-null   int64
 20  DivDistance        0 non-null      float64
 21  DivArrDelay        0 non-null      float64
dtypes: float64(7), int64(11), object(4)
memory usage: 490.8+ KB

In [78]:
df.isna().sum()

Unnamed: 0              0
Month                   0
DayOfWeek               0
FlightDate              0
Reporting_Airline       0
Origin                  0
Dest                    0
CRSDepTime              0
CRSArrTime              0
DepTime                 0
ArrTime                 0
ArrDelay                0
ArrDelayMinutes         0
CarrierDelay         2486
WeatherDelay         2486
NASDelay             2486
SecurityDelay        2486
LateAircraftDelay    2486
DepDelay                0
DepDelayMinutes         0
DivDistance          2855
DivArrDelay          2855
dtype: int64

In [79]:
df = df.drop(["DivDistance", "DivArrDelay", "Month", "DayOfWeek"], axis = 1)

In [80]:
df.columns

Index(['Unnamed: 0', 'FlightDate', 'Reporting_Airline', 'Origin', 'Dest',
       'CRSDepTime', 'CRSArrTime', 'DepTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'CarrierDelay', 'WeatherDelay', 'NASDelay',
       'SecurityDelay', 'LateAircraftDelay', 'DepDelay', 'DepDelayMinutes'],
      dtype='object')

In [81]:
pd.set_option("display.max.columns", None)

In [82]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2855 non-null   int64
 1   FlightDate         2855 non-null   object
 2   Reporting_Airline  2855 non-null   object
 3   Origin             2855 non-null   object
 4   Dest               2855 non-null   object
 5   CRSDepTime         2855 non-null   int64
 6   CRSArrTime         2855 non-null   int64
 7   DepTime            2855 non-null   int64
 8   ArrTime            2855 non-null   int64
 9   ArrDelay           2855 non-null   int64
 10  ArrDelayMinutes    2855 non-null   int64
 11  CarrierDelay       369 non-null    float64
 12  WeatherDelay       369 non-null    float64
 13  NASDelay           369 non-null    float64
 14  SecurityDelay      369 non-null    float64
 15  LateAircraftDelay  369 non-null    float64
 16  DepDelay           2855 non-null   int64
 17  DepDelayMinutes    2855 non-null   int64
dtypes: float64(5), int64(9), object(4)
memory usage: 401.6+ KB

In [83]:
def moving(x, y):
    col = df.pop(x)
    df.insert(y, x, col)

In [84]:
moving("DepDelayMinutes", 12)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2855 non-null   int64
 1   FlightDate         2855 non-null   object
 2   Reporting_Airline  2855 non-null   object
 3   Origin             2855 non-null   object
 4   Dest               2855 non-null   object
 5   CRSDepTime         2855 non-null   int64
 6   CRSArrTime         2855 non-null   int64
 7   DepTime            2855 non-null   int64
 8   ArrTime            2855 non-null   int64
 9   ArrDelay           2855 non-null   int64
 10  ArrDelayMinutes    2855 non-null   int64
 11  CarrierDelay       369 non-null    float64
 12  DepDelayMinutes    2855 non-null   int64
 13  WeatherDelay       369 non-null    float64
 14  NASDelay           369 non-null    float64
 15  SecurityDelay      369 non-null    float64
 16  LateAircraftDelay  369 non-null    float64
 17  DepDelay           2855 non-null   int64
dtypes: float64(5), int64(9), object(4)
memory usage: 401.6+ KB

In [86]:
df.head()

,Unnamed: 0,FlightDate,Reporting_Airline,Origin,Dest,CRSDepTime,CRSArrTime,DepTime,ArrTime,ArrDelay,ArrDelayMinutes,CarrierDelay,DepDelayMinutes,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepDelay
0,1,2003-03-28,UA,LAX,JFK,2210,615,2209,617,2,2,NaN,0,NaN,NaN,NaN,NaN,-1
1,2,2018-11-29,AS,LAX,JFK,1045,1912,1049,1851,-21,0,NaN,4,NaN,NaN,NaN,NaN,4
2,3,2015-08-28,UA,LAX,JFK,805,1634,757,1620,-14,0,NaN,0,NaN,NaN,NaN,NaN,-8
3,4,2003-04-20,DL,LAX,JFK,2205,619,2212,616,-3,0,NaN,7,NaN,NaN,NaN,NaN,7
4,5,2005-11-30,UA,LAX,JFK,840,1653,836,1640,-13,0,NaN,0,NaN,NaN,NaN,NaN,-4

In [87]:
df = df.drop(["DepDelayMinutes", "ArrDelayMinutes"], axis  = 1)

In [88]:
df.head()

,Unnamed: 0,FlightDate,Reporting_Airline,Origin,Dest,CRSDepTime,CRSArrTime,DepTime,ArrTime,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepDelay
0,1,2003-03-28,UA,LAX,JFK,2210,615,2209,617,2,NaN,NaN,NaN,NaN,NaN,-1
1,2,2018-11-29,AS,LAX,JFK,1045,1912,1049,1851,-21,NaN,NaN,NaN,NaN,NaN,4
2,3,2015-08-28,UA,LAX,JFK,805,1634,757,1620,-14,NaN,NaN,NaN,NaN,NaN,-8
3,4,2003-04-20,DL,LAX,JFK,2205,619,2212,616,-3,NaN,NaN,NaN,NaN,NaN,7
4,5,2005-11-30,UA,LAX,JFK,840,1653,836,1640,-13,NaN,NaN,NaN,NaN,NaN,-4

In [102]:
a = np.array(df["CRSArrTime"])

n_t = []
for i in a:
    for d in len(i):
        c = d[:2] + ":" + d[2:]
        n_t.append(d)

TypeError: object of type 'numpy.int64' has no len()